<div class="container" *ngIf="diverReg">
  <div class="row">
    <a class="btn btn=primary" routerLink="/admin"><button class="btn btn-danger back-btn">Back to List</button></a>
  </div>
  <div>
    <div class="form-group">
      <label>Name</label>
      <div class="form-control">{{diverReg.name}}</div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <div class="form-control">{{diverReg.email}}</div>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <div class="form-control">{{diverReg.phone}}</div>
    </div>
    <div class="form-group">
      <label>Gender</label>
      <div class="form-control">{{diverReg.gender}}</div>
    </div>
    <div class="form-group">
      <label>Birthday</label>
      <div class="form-control">{{diverReg.birthday}}</div>
    </div>
    <div class="form-group">
      <label>Certified Date</label>
      <div class="form-control">{{diverReg.certified}}</div>
    </div>
    <div class="form-group">
      <label>Organization</label>
      <div class="form-control">{{diverReg.organization}}</div>
    </div>
    <div class="form-group">
      <label>Country</label>
      <div class="form-control">{{diverReg.country}}</div>
    </div>
  </div>
</div>
